@charset "UTF-8";
.text-subtitle,
.text-landing {
  text-transform: none;
}
.strikethrough {
  text-decoration: line-through;
}
.text-left {
  text-align: left;
}
p em {
  font-style: normal;
  font-weight: bold;
  color: red;
}